
@font-face {
    font-family: 'Outfit'; 
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'young-serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Outfit";
    color: hsl(30, 10%, 34%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    max-width: 100%;
    background-color: hsl(30, 54%, 90%);
}

.container {
    padding: 1.5rem;
    margin: 2rem;
    background-color: hsl(0, 0%, 100%);
    width: 28rem;
    border-radius: 16px;
}

.container img {
    background-size: cover;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 0.9rem;
}

.container h1 {
    font-family: 'young-serif';
    font-weight: 400;
    font-size: 1.72rem;
    margin-bottom: 0.9rem;
    color: black;
}

.container p {
    font-size: 0.7rem;
    margin-bottom: 0.9rem;
}

.time-req {
    background-color: hsl(330, 100%, 98%);
    padding: 1.2rem;
    border-radius: 10px;
}

.time-req h3 {
    color: hsl(332, 51%, 32%);
    font-weight: 700;
    font-size: 1rem;
}

.time-req ul {
    padding: 0.2rem;
    margin: 0.2rem;
    list-style: inside;
    color: hsl(30, 10%, 34%);
    font-size: 0.9rem;
}

.time-req ul li {
    margin: 0.6rem 0 0;
}

.container h2 {
    font-family: "young-serif";
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin: 1rem 0;
}

.container ul {
    padding-left: 1rem;
    margin-left: 0.2rem;
    font-size: 0.7rem;
}

.container ul li {
    margin: 0.6rem 0 0;
}

.container ol {
    padding-left: 1rem;
    margin-left: 0.2rem;
    font-size: 0.7rem;
}

.container ol li {
    margin: 0.6rem 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 0.8rem 0;
    border-bottom: 1px solid hsl(24, 5%, 85%);
    font-size: 0.7rem;
}

.intake {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.line {
    margin: 1.5rem 0;
    border-bottom: 1px solid hsl(24, 5%, 80%);
}